:root {
    --animate-duration: 1s;
       --animate-delay: 1s;
      --animate-repeat: 1;
}
.animated {
     -webkit-animation-duration: 1s;
             animation-duration: 1s;
     -webkit-animation-duration: var(--animate-duration);
             animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.animated.delay-100ms {
    -webkit-animation-delay: 100ms;
            animation-delay: 100ms;
}
.animated.delay-200ms {
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms;
}
.animated.delay-300ms {
    -webkit-animation-delay: 300ms;
            animation-delay: 300ms;
}
.animated.delay-400ms {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
}
.animated.delay-500ms {
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms;
}
.animated.delay-600ms {
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms;
}
.animated.delay-700ms {
    -webkit-animation-delay: 700ms;
            animation-delay: 700ms;
}
.animated.delay-800ms {
    -webkit-animation-delay: 800ms;
            animation-delay: 800ms;
}
.animated.delay-900ms {
    -webkit-animation-delay: 900ms;
            animation-delay: 900ms;
}
.animated.delay-1000ms {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-delay: var(--animate-delay);
            animation-delay: var(--animate-delay);
}
.animated.delay-2000ms {
    -webkit-animation-delay: calc(1s * 2);
            animation-delay: calc(1s * 2);
    -webkit-animation-delay: calc(var(--animate-delay) * 2);
            animation-delay: calc(var(--animate-delay) * 2);
}
.animated.delay-3000ms {
    -webkit-animation-delay: calc(1s * 3);
            animation-delay: calc(1s * 3);
    -webkit-animation-delay: calc(var(--animate-delay) * 3);
            animation-delay: calc(var(--animate-delay) * 3);
}
.animated.delay-4000ms {
    -webkit-animation-delay: calc(1s * 4);
            animation-delay: calc(1s * 4);
    -webkit-animation-delay: calc(var(--animate-delay) * 4);
            animation-delay: calc(var(--animate-delay) * 4);
}
.animated.delay-5000ms {
    -webkit-animation-delay: calc(1s * 5);
            animation-delay: calc(1s * 5);
    -webkit-animation-delay: calc(var(--animate-delay) * 5);
            animation-delay: calc(var(--animate-delay) * 5);
}
.animated.fastest {
    -webkit-animation-duration: calc(1s / 4);
            animation-duration: calc(1s / 4);
    -webkit-animation-duration: calc(var(--animate-duration) / 4);
            animation-duration: calc(var(--animate-duration) / 4);
}
.animated.faster {
    -webkit-animation-duration: calc(1s / 2);
            animation-duration: calc(1s / 2);
    -webkit-animation-duration: calc(var(--animate-duration) / 2);
            animation-duration: calc(var(--animate-duration) / 2);
}
.animated.fast {
    -webkit-animation-duration: calc(1s * 0.75);
            animation-duration: calc(1s * 0.75);
    -webkit-animation-duration: calc(var(--animate-duration) * 0.75);
            animation-duration: calc(var(--animate-duration) * 0.75);
}
.animated.slow {
    -webkit-animation-duration: calc(1s * 1.25);
            animation-duration: calc(1s * 1.25);
    -webkit-animation-duration: calc(var(--animate-duration) * 1.25);
            animation-duration: calc(var(--animate-duration) * 1.25);
}
.animated.slower {
    -webkit-animation-duration: calc(1s / 0.5);
            animation-duration: calc(1s / 0.5);
    -webkit-animation-duration: calc(var(--animate-duration) / 0.5);
            animation-duration: calc(var(--animate-duration) / 0.5);
}
.animated.slowest {
    -webkit-animation-duration: calc(1s / 0.25);
            animation-duration: calc(1s / 0.25);
    -webkit-animation-duration: calc(var(--animate-duration) / 0.25);
            animation-duration: calc(var(--animate-duration) / 0.25);
}

@media print, (prefers-reduced-motion: reduce) {
    .animated {
        -webkit-animation-duration:         1ms!important;
                animation-duration:         1ms!important;
        -webkit-transition-duration:        1ms!important;
                transition-duration:        1ms!important;
        -webkit-animation-iteration-count:  1!important;
                animation-iteration-count:  1!important;
    } 
    
    .animated[class*='Out'] {
        opacity: 0;
    }
}

/*

1_
flash
pulse
gettinInYoFace
nope
gettinLifted
hinge
jackInTheBox
rollIn
rollOut

2_
fadeIn
fadeInDown
fadeInDownBig
fadeInLeft
fadeInLeftBig
fadeInRight
fadeInRightBig
fadeInUp
fadeInUpBig
fadeInTopLeft
fadeInTopRight
fadeInBottomLeft
fadeInBottomRight

3_
fadeOut
fadeOutDown
fadeOutDownBig
fadeOutLeft
fadeOutLeftBig
fadeOutRight
fadeOutRightBig
fadeOutUp
fadeOutUpBig
fadeOutTopLeft
fadeOutTopRight
fadeOutBottomRight
fadeOutBottomLeft

4_
zoomIn
zoomInDown
zoomInLeft
zoomInRight
zoomInUp
zoomOut
zoomOutDown
zoomOutLeft
zoomOutRight
zoomOutUp

5_
slideInDown
slideInLeft
slideInRight
slideInUp
slideOutDown
slideOutLeft
slideOutRight
slideOutUp

6_
backInDown
backInLeft
backInRight
backInUp
backOutDown
backOutLeft
backOutRight
backOutUp

*/

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
/* 0 mark */
.spin {
    -webkit-animation-name: flash;
            animation-name: flash;
}

/* START */

@-webkit-keyframes flash {
    from, 50%, to {
        opacity: 1;
    } 25%, 75% {
        opacity: 0;
    }
}
@keyframes flash {
    from, 50%, to {
        opacity: 1;
    } 25%, 75% {
        opacity: 0;
    }
}
@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    } 50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
                transform: scale3d(1.05, 1.05, 1.05);
    } to {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}
@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    } 50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
                transform: scale3d(1.05, 1.05, 1.05);
    } to {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes gettinInYoFace {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    } to {
        opacity: 1;
        -webkit-transform: scale(100);
                transform: scale(100);
    }
}
@keyframes gettinInYoFace {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    } to {
        opacity: 1;
        -webkit-transform: scale(100);
                transform: scale(100);
    }
}
@-webkit-keyframes nope {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    } 6.5% {
        -webkit-transform: translateX(-7px) rotateY(-10deg);
                transform: translateX(-7px) rotateY(-10deg);
    } 18.5% {
        -webkit-transform: translateX(6px) rotateY(8deg);
                transform: translateX(6px) rotateY(8deg);
    } 31.5% {
        -webkit-transform: translateX(-4px) rotateY(-6deg);
                transform: translateX(-4px) rotateY(-6deg);
    } 43.5% {
        -webkit-transform: translateX(3px) rotateY(4deg);
                transform: translateX(3px) rotateY(4deg);
    } 50% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes nope {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    } 6.5% {
        -webkit-transform: translateX(-7px) rotateY(-10deg);
                transform: translateX(-7px) rotateY(-10deg);
    } 18.5% {
        -webkit-transform: translateX(6px) rotateY(8deg);
                transform: translateX(6px) rotateY(8deg);
    } 31.5% {
        -webkit-transform: translateX(-4px) rotateY(-6deg);
                transform: translateX(-4px) rotateY(-6deg);
    } 43.5% {
        -webkit-transform: translateX(3px) rotateY(4deg);
                transform: translateX(3px) rotateY(4deg);
    } 50% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@-webkit-keyframes gettinLifted {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 500px, 0);
                transform: translate3d(0, 500px, 0);
    } to {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}
@keyframes gettinLifted {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 500px, 0);
                transform: translate3d(0, 500px, 0);
    } to {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}
@-webkit-keyframes hinge {
    0% {
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    } 20%,
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 80deg);
                transform: rotate3d(0, 0, 1, 80deg);
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    } 40%,
    80% {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
                transform: rotate3d(0, 0, 1, 60deg);
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
        opacity: 1;
    } to {
        -webkit-transform: translate3d(0, 700px, 0);
                transform: translate3d(0, 700px, 0);
        opacity: 0;
    }
}
@keyframes hinge {
    0% {
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    } 20%,
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 80deg);
                transform: rotate3d(0, 0, 1, 80deg);
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    } 40%,
    80% {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
                transform: rotate3d(0, 0, 1, 60deg);
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
        opacity: 1;
    } to {
        -webkit-transform: translate3d(0, 700px, 0);
                transform: translate3d(0, 700px, 0);
        opacity: 0;
    }
}
@-webkit-keyframes jackInTheBox {
    from {
        opacity: 0;
        -webkit-transform: scale(0.1) rotate(30deg);
                transform: scale(0.1) rotate(30deg);
        -webkit-transform-origin: center bottom;
                transform-origin: center bottom;
    } 50% {
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
    } 70% {
        -webkit-transform: rotate(3deg);
                transform: rotate(3deg);
    } to {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes jackInTheBox {
    from {
        opacity: 0;
        -webkit-transform: scale(0.1) rotate(30deg);
                transform: scale(0.1) rotate(30deg);
        -webkit-transform-origin: center bottom;
                transform-origin: center bottom;
    } 50% {
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
    } 70% {
        -webkit-transform: rotate(3deg);
                transform: rotate(3deg);
    } to {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-webkit-keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
                transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
                transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes rollOut {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
                transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
}
@keyframes rollOut {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
                transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
}
/* 1 mark */
.flash {
    -webkit-animation-name: flash;
            animation-name: flash;
}
.pulse {
    -webkit-animation-name: pulse;
            animation-name: pulse;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
.gettinInYoFace {
    -webkit-animation-name: gettinInYoFace;
            animation-name: gettinInYoFace;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
.nope {
    -webkit-animation-name: nope;
            animation-name: nope;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
.gettinLifted {
    animation-name: gettinLifted;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}
.hinge {
    -webkit-animation-duration: calc(1s * 2);
            animation-duration: calc(1s * 2);
    -webkit-animation-duration: calc(var(--animate-duration) * 2);
            animation-duration: calc(var(--animate-duration) * 2);
    -webkit-animation-name: hinge;
            animation-name: hinge;
    -webkit-transform-origin: top left;
    transform-origin: top left;
}
.jackInTheBox {
    -webkit-animation-name: jackInTheBox;
            animation-name: jackInTheBox;
}
.rollIn {
    -webkit-animation-name: rollIn;
            animation-name: rollIn;
}
.rollOut {
    -webkit-animation-name: rollOut;
            animation-name: rollOut;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeInDownBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
                transform: translate3d(0, -2000px, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInDownBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
                transform: translate3d(0, -2000px, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeInLeftBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
                transform: translate3d(-2000px, 0, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInLeftBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
                transform: translate3d(-2000px, 0, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeInRightBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
                transform: translate3d(2000px, 0, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInRightBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
                transform: translate3d(2000px, 0, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeInUpBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
                transform: translate3d(0, 2000px, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInUpBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
                transform: translate3d(0, 2000px, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeInTopLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, -100%, 0);
                transform: translate3d(-100%, -100%, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInTopLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, -100%, 0);
                transform: translate3d(-100%, -100%, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeInTopRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, -100%, 0);
                transform: translate3d(100%, -100%, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInTopRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, -100%, 0);
                transform: translate3d(100%, -100%, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeInBottomLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 100%, 0);
                transform: translate3d(-100%, 100%, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInBottomLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 100%, 0);
                transform: translate3d(-100%, 100%, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeInBottomRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 100%, 0);
                transform: translate3d(100%, 100%, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInBottomRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 100%, 0);
                transform: translate3d(100%, 100%, 0);
    } to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
/* 2 mark */
.fadeIn {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
}
.fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
            animation-name: fadeInDownBig;
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
}
.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
            animation-name: fadeInLeftBig;
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight;
}
.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
            animation-name: fadeInRightBig;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
}
.fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
            animation-name: fadeInUpBig;
}
.fadeInTopLeft {
    -webkit-animation-name: fadeInTopLeft;
            animation-name: fadeInTopLeft;
}
.fadeInTopRight {
    -webkit-animation-name: fadeInTopRight;
            animation-name: fadeInTopRight;
}
.fadeInBottomLeft {
    -webkit-animation-name: fadeInBottomLeft;
            animation-name: fadeInBottomLeft;
}
.fadeInBottomRight {
    -webkit-animation-name: fadeInBottomRight;
            animation-name: fadeInBottomRight;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeOutDown {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
    }
}
@keyframes fadeOutDown {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
    }
}
@-webkit-keyframes fadeOutDownBig {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
                transform: translate3d(0, 2000px, 0);
    }
}
@keyframes fadeOutDownBig {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
                transform: translate3d(0, 2000px, 0);
    }
}
@-webkit-keyframes fadeOutLeft {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
}
@keyframes fadeOutLeft {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
}
@-webkit-keyframes fadeOutLeftBig {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
                transform: translate3d(-2000px, 0, 0);
    }
}
@keyframes fadeOutLeftBig {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
                transform: translate3d(-2000px, 0, 0);
    }
}
@-webkit-keyframes fadeOutRight {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
    }
}
@keyframes fadeOutRight {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
    }
}
@-webkit-keyframes fadeOutRightBig {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
                transform: translate3d(2000px, 0, 0);
    }
}
@keyframes fadeOutRightBig {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
                transform: translate3d(2000px, 0, 0);
    }
}
@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
    }
}
@keyframes fadeOutUp {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
    }
}
@-webkit-keyframes fadeOutUpBig {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
                transform: translate3d(0, -2000px, 0);
    }
}
@keyframes fadeOutUpBig {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
                transform: translate3d(0, -2000px, 0);
    }
}
@-webkit-keyframes fadeOutTopLeft {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, -100%, 0);
                transform: translate3d(-100%, -100%, 0);
    }
}
@keyframes fadeOutTopLeft {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, -100%, 0);
                transform: translate3d(-100%, -100%, 0);
    }
}
@-webkit-keyframes fadeOutTopRight {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        opacity: 0;
        -webkit-transform: translate3d(100%, -100%, 0);
                transform: translate3d(100%, -100%, 0);
    }
}
@keyframes fadeOutTopRight {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        opacity: 0;
        -webkit-transform: translate3d(100%, -100%, 0);
                transform: translate3d(100%, -100%, 0);
    }
}
@-webkit-keyframes fadeOutBottomRight {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 100%, 0);
                transform: translate3d(100%, 100%, 0);
    }
}
@keyframes fadeOutBottomRight {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 100%, 0);
                transform: translate3d(100%, 100%, 0);
    }
}
@-webkit-keyframes fadeOutBottomLeft {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 100%, 0);
                transform: translate3d(-100%, 100%, 0);
    }
}
@keyframes fadeOutBottomLeft {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 100%, 0);
                transform: translate3d(-100%, 100%, 0);
    }
}
/* 3 mark */
.fadeOut {
    -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
}
.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
            animation-name: fadeOutDown;
}
.fadeOutDownBig {
    -webkit-animation-name: fadeOutDownBig;
            animation-name: fadeOutDownBig;
}
.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
            animation-name: fadeOutLeft;
}
.fadeOutLeftBig {
    -webkit-animation-name: fadeOutLeftBig;
            animation-name: fadeOutLeftBig;
}
.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
            animation-name: fadeOutRight;
}
.fadeOutRightBig {
    -webkit-animation-name: fadeOutRightBig;
            animation-name: fadeOutRightBig;
}
.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
            animation-name: fadeOutUp;
}
.fadeOutUpBig {
    -webkit-animation-name: fadeOutUpBig;
            animation-name: fadeOutUpBig;
}
.fadeOutTopLeft {
    -webkit-animation-name: fadeOutTopLeft;
            animation-name: fadeOutTopLeft;
}
.fadeOutTopRight {
    -webkit-animation-name: fadeOutTopRight;
            animation-name: fadeOutTopRight;
}
.fadeOutBottomRight {
    -webkit-animation-name: fadeOutBottomRight;
            animation-name: fadeOutBottomRight;
}
.fadeOutBottomLeft {
    -webkit-animation-name: fadeOutBottomLeft;
            animation-name: fadeOutBottomLeft;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
                transform: scale3d(0.3, 0.3, 0.3);
    } 50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
                transform: scale3d(0.3, 0.3, 0.3);
    } 50% {
        opacity: 1;
    }
}
@-webkit-keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
                transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    } 60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
                transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    } 60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@-webkit-keyframes zoomInLeft {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
                transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    } 60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@keyframes zoomInLeft {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
                transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    } 60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@-webkit-keyframes zoomInRight {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
                transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    } 60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@keyframes zoomInRight {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
                transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    } 60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@-webkit-keyframes zoomInUp {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
                transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    } 60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@keyframes zoomInUp {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
                transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    } 60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@-webkit-keyframes zoomOut {
    from {
        opacity: 1;
    } 50% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
                transform: scale3d(0.3, 0.3, 0.3);
    } to {
        opacity: 0;
    }
}
@keyframes zoomOut {
    from {
        opacity: 1;
    } 50% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
                transform: scale3d(0.3, 0.3, 0.3);
    } to {
        opacity: 0;
    }
}
@-webkit-keyframes zoomOutDown {
    40% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    } to {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
                transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@keyframes zoomOutDown {
    40% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    } to {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
                transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@-webkit-keyframes zoomOutLeft {
    40% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
    } to {
        opacity: 0;
        -webkit-transform: scale(0.1) translate3d(-2000px, 0, 0);
                transform: scale(0.1) translate3d(-2000px, 0, 0);
    }
}
@keyframes zoomOutLeft {
    40% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
    } to {
        opacity: 0;
        -webkit-transform: scale(0.1) translate3d(-2000px, 0, 0);
                transform: scale(0.1) translate3d(-2000px, 0, 0);
    }
}
@-webkit-keyframes zoomOutRight {
    40% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
    } to {
        opacity: 0;
        -webkit-transform: scale(0.1) translate3d(2000px, 0, 0);
                transform: scale(0.1) translate3d(2000px, 0, 0);
    }
}
@keyframes zoomOutRight {
    40% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
    } to {
        opacity: 0;
        -webkit-transform: scale(0.1) translate3d(2000px, 0, 0);
                transform: scale(0.1) translate3d(2000px, 0, 0);
    }
}
@-webkit-keyframes zoomOutUp {
    40% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    } to {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
                transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
@keyframes zoomOutUp {
    40% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
                transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    } to {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
                transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}
/* 4 mark */
.zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
}
.zoomInDown {
    -webkit-animation-name: zoomInDown;
            animation-name: zoomInDown;
}
.zoomInLeft {
    -webkit-animation-name: zoomInLeft;
            animation-name: zoomInLeft;
}
.zoomInRight {
    -webkit-animation-name: zoomInRight;
            animation-name: zoomInRight;
}
.zoomInUp {
    -webkit-animation-name: zoomInUp;
            animation-name: zoomInUp;
}
.zoomOut {
    -webkit-animation-name: zoomOut;
            animation-name: zoomOut;
}
.zoomOutDown {
    -webkit-animation-name: zoomOutDown;
            animation-name: zoomOutDown;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
.zoomOutLeft {
    -webkit-animation-name: zoomOutLeft;
            animation-name: zoomOutLeft;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}
.zoomOutRight {
    -webkit-animation-name: zoomOutRight;
            animation-name: zoomOutRight;
    -webkit-transform-origin: right center;
    transform-origin: right center;
}
.zoomOutUp {
    -webkit-animation-name: zoomOutUp;
            animation-name: zoomOutUp;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
        visibility: visible;
    } to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
        visibility: visible;
    } to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
        visibility: visible;
    } to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
        visibility: visible;
    } to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
        visibility: visible;
    } to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
        visibility: visible;
    } to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
        visibility: visible;
    } to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
        visibility: visible;
    } to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
    }
}
@keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
    }
}
@-webkit-keyframes slideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        visibility: hidden;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
}
@keyframes slideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        visibility: hidden;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
}
@-webkit-keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        visibility: hidden;
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
    }
}
@keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        visibility: hidden;
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
    }
}
@-webkit-keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
    }
}
@keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    } to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
    }
}
/* 5 mark */
.slideInDown {
    -webkit-animation-name: slideInDown;
            animation-name: slideInDown;
}
.slideInLeft {
    -webkit-animation-name: slideInLeft;
            animation-name: slideInLeft;
}
.slideInRight {
    -webkit-animation-name: slideInRight;
            animation-name: slideInRight;
}
.slideInUp {
    -webkit-animation-name: slideInUp;
            animation-name: slideInUp;
}
.slideOutDown {
    -webkit-animation-name: slideOutDown;
            animation-name: slideOutDown;
}
.slideOutLeft {
    -webkit-animation-name: slideOutLeft;
            animation-name: slideOutLeft;
}
.slideOutRight {
    -webkit-animation-name: slideOutRight;
            animation-name: slideOutRight;
}
.slideOutUp {
    -webkit-animation-name: slideOutUp;
            animation-name: slideOutUp;
}

@-webkit-keyframes backInDown {
    0% {
        -webkit-transform: translateY(-1200px) scale(0.7);
                transform: translateY(-1200px) scale(0.7);
        opacity: 0.7;
    } 80% {
        -webkit-transform: translateY(0px) scale(0.7);
                transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}
@keyframes backInDown {
    0% {
        -webkit-transform: translateY(-1200px) scale(0.7);
                transform: translateY(-1200px) scale(0.7);
        opacity: 0.7;
    } 80% {
        -webkit-transform: translateY(0px) scale(0.7);
                transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes backInLeft {
    0% {
        -webkit-transform: translateX(-2000px) scale(0.7);
                transform: translateX(-2000px) scale(0.7);
        opacity: 0.7;
    } 80% {
        -webkit-transform: translateX(0px) scale(0.7);
                transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}
@keyframes backInLeft {
    0% {
        -webkit-transform: translateX(-2000px) scale(0.7);
                transform: translateX(-2000px) scale(0.7);
        opacity: 0.7;
    } 80% {
        -webkit-transform: translateX(0px) scale(0.7);
                transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes backInRight {
    0% {
        -webkit-transform: translateX(2000px) scale(0.7);
                transform: translateX(2000px) scale(0.7);
        opacity: 0.7;
    } 80% {
        -webkit-transform: translateX(0px) scale(0.7);
                transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}
@keyframes backInRight {
    0% {
        -webkit-transform: translateX(2000px) scale(0.7);
                transform: translateX(2000px) scale(0.7);
        opacity: 0.7;
    } 80% {
        -webkit-transform: translateX(0px) scale(0.7);
                transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes backInUp {
    0% {
        -webkit-transform: translateY(1200px) scale(0.7);
                transform: translateY(1200px) scale(0.7);
        opacity: 0.7;
    } 80% {
        -webkit-transform: translateY(0px) scale(0.7);
                transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}
@keyframes backInUp {
    0% {
        -webkit-transform: translateY(1200px) scale(0.7);
                transform: translateY(1200px) scale(0.7);
        opacity: 0.7;
    } 80% {
        -webkit-transform: translateY(0px) scale(0.7);
                transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes backOutDown {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    } 20% {
        -webkit-transform: translateY(0px) scale(0.7);
                transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: translateY(700px) scale(0.7);
                transform: translateY(700px) scale(0.7);
        opacity: 0.7;
    }
}
@keyframes backOutDown {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    } 20% {
        -webkit-transform: translateY(0px) scale(0.7);
                transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: translateY(700px) scale(0.7);
                transform: translateY(700px) scale(0.7);
        opacity: 0.7;
    }
}
@-webkit-keyframes backOutLeft {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    } 20% {
        -webkit-transform: translateX(0px) scale(0.7);
                transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: translateX(-2000px) scale(0.7);
                transform: translateX(-2000px) scale(0.7);
        opacity: 0.7;
    }
}
@keyframes backOutLeft {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    } 20% {
        -webkit-transform: translateX(0px) scale(0.7);
                transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: translateX(-2000px) scale(0.7);
                transform: translateX(-2000px) scale(0.7);
        opacity: 0.7;
    }
}
@-webkit-keyframes backOutRight {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    } 20% {
        -webkit-transform: translateX(0px) scale(0.7);
                transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: translateX(2000px) scale(0.7);
                transform: translateX(2000px) scale(0.7);
        opacity: 0.7;
    }
}
@keyframes backOutRight {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    } 20% {
        -webkit-transform: translateX(0px) scale(0.7);
                transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: translateX(2000px) scale(0.7);
                transform: translateX(2000px) scale(0.7);
        opacity: 0.7;
    }
}
@-webkit-keyframes backOutUp {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    } 20% {
        -webkit-transform: translateY(0px) scale(0.7);
                transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: translateY(-700px) scale(0.7);
                transform: translateY(-700px) scale(0.7);
        opacity: 0.7;
    }
}
@keyframes backOutUp {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    } 20% {
        -webkit-transform: translateY(0px) scale(0.7);
                transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    } 100% {
        -webkit-transform: translateY(-700px) scale(0.7);
                transform: translateY(-700px) scale(0.7);
        opacity: 0.7;
    }
}
/* 6 mark */
.backInDown {
    -webkit-animation-name: backInDown;
            animation-name: backInDown;
}
.backInLeft {
    -webkit-animation-name: backInLeft;
            animation-name: backInLeft;
}
.backInRight {
    -webkit-animation-name: backInRight;
            animation-name: backInRight;
}
.backInUp {
    -webkit-animation-name: backInUp;
            animation-name: backInUp;
}
.backOutDown {
    -webkit-animation-name: backOutDown;
            animation-name: backOutDown;
}
.backOutLeft {
    -webkit-animation-name: backOutLeft;
            animation-name: backOutLeft;
}
.backOutRight {
    -webkit-animation-name: backOutRight;
            animation-name: backOutRight;
}
.backOutUp {
    -webkit-animation-name: backOutUp;
            animation-name: backOutUp;
}
